head
    title= title
    body
        h1= message
        ul
            li
                a(href='/') Home
            li
                a(href='about') About
            li
                a(href='test') Test
            li
                a(href='includes') includes
            li
                a(href='blog') show blog
