doctype 5
head
    title  User information
    body
        h1 Enter User information

    if errors  
      p There was some validation errors!
      ul
        for error in errors
          li!= error.msg
    else 
      p validation was OK!
      p name: #{name}
      p age:  #{age}

    a(href='/') Back to Main page
